@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  background: #FEF9E1;

}

.mainNav {
  background-color: #e27602;
  justify-content: space-between;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeader {
  display: flex;
  width: 100%;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 90%;
}

.column {
  flex: 1;
  text-align: center;
  padding: 10px;
}
.column2 {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.2em;
}
.separator {
  width: 100%;
  height: 2px;
  background-color: #FEF9E1;
  margin: 10px;
}

.nav-item {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
}

.nav-item:hover {
  text-decoration: underline;
}

#pageTitle {
  color: #F6F6F2;
  font-weight: bold;
  font-size: 2.8rem;
  margin-left: -150px;
  margin-top: 15px;
}

#userIcon {
  margin-top: 10px;
  margin-left: 275px;
}

#voluntrackerLogo {
  height: 60px;
}

.home {
  justify-content: space-between;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconTitles {
  font-size: 2.5rem;
  color: #C23304;
  font-weight: bold;
}

.homeRows {
  display: flex;
  width: 100%;
}

.button {
  font-size: 1.2rem;
  background: #e27602;
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  border: 1px solid black;
}
.button:hover{
  cursor: pointer;
  text-decoration: underline;
}

#location {
  position: relative;
  top: 40px;
}

.aboutCards{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
}
.card{
  color: #ffffff;
  background-color: #e27602;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  border: 2px solid black;
  max-width: 350px;
  font-size: 1.2em;
}
.card h2{
  padding-bottom: 20px;
}
